<mat-spinner *ngIf="!userService.selectedUser"></mat-spinner>

<mat-card *ngIf="userService.selectedUser">
  <mat-card-header>
    <mat-icon
      mat-card-avatar
      svgIcon="{{ userService.selectedUser.avatar }}"
    ></mat-icon>
    <mat-card-title>{{ userService.selectedUser.name }}</mat-card-title>
    <mat-card-subtitle>{{
      userService.selectedUser.birthDate | date
    }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-tab-group>
      <mat-tab label="Bio">
        <p>
          {{ userService.selectedUser.bio }}
        </p>
      </mat-tab>
      <mat-tab label="Notes">
        <p>
          <mat-list>
            <mat-list-item *ngFor="let note of userService.selectedUser.notes">
              <div mat-line>{{ note.title }}</div>
              <div mat->{{ note.date | date }}</div>
            </mat-list-item>
            <mat-divider></mat-divider>
          </mat-list>
        </p>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
