<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a mat-button routerLink="/" aria-label="Angular Material">
      <img
        class="logo"
        src="../../assets/img/SmartObject64@2x.png"
        alt="SmartObject Tester"
      />
      <span>SmartObject Tester</span>
    </a>

    <span class="example-spacer"></span>
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with a menu"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu>
      <button mat-menu-item (click)="openAddContactDialog()">
        <mat-icon>add</mat-icon>
        <span>New Contact</span>
      </button>

      <button mat-menu-item (click)="toggleTheme.emit()">
        <mat-icon>format_color_fill</mat-icon>
        <span>Toggle Theme</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
